{% extends './component/base.twig' %}

{% set title = 'Index' %}
{% set feeds = {
    className: 'postlist-section',
    feedClassName: 'postlist-feed',
    items: postlist,
    isMainSection: true
} %}
{% set pagenation = {
    previous: 'newer',
    next: 'older'
} %}

{%- block main -%}
{% include './component/section-feeds.twig' with feeds only %}
{% include './component/pagenation.twig' with pagenation only %}
{%- endblock -%}