{% extends './component/base.twig' %}

{% set title = 'Single Page' %}
{% set pagenation = {
previous: 'previous',
next: 'next'
} %}

{%- block main -%}
{% include './component/post.twig' with post only %}
{% include './component/pagenation.twig' with pagenation only %}
{%- endblock -%}