@layer components {
  aside {
    @apply min-w-64 md:max-w-96 p-3 order-last md:order-first;
  }

  .aside-section {
    @apply py-3 first:pt-0 last:pb-0;
  }

  .aside-feed .feed-picture {
    @apply w-24;
  }
}
