@layer components {
  * {
    @apply transition-colors transition-transform;
  }

  html {
    @apply size-full scroll-smooth m-0 p-0 border-0;
  }

  body {
    @apply size-full m-0 p-0 border-0;
    @apply flex flex-col;
    @apply bg-cover bg-no-repeat bg-center bg-fixed;
    background-image: var(--background-url);
  }

  header {
    @apply shrink;
    @apply bg-[--background-color];
    @apply border-y-2 border-t-[--primary-color] border-b-[--secondary-color];
  }

  main {
    @apply flex flex-col md:flex-row grow;
    @apply p-3 bg-[--background-color];
  }

  .content {
    @apply w-full p-3 order-first md:order-last overflow-x-auto;
  }

  .container {
    @apply h-full max-w-full lg:max-w-4xl xl:max-w-6xl 2xl:max-w-7xl !important;
    @apply mx-auto my-0 lg:my-6;
    @apply flex flex-col;
  }

  .error-document {
    @apply font-extrabold text-4xl text-center text-[--primary-color] uppercase;
  }
}
