@layer components {
  .brand {
    @apply flex flex-col md:flex-row justify-around text-center uppercase;
  }

  .brand-title {
    @apply font-wayland font-bold text-5xl lg:text-6xl text-[--primary-color];
  }

  .brand-tagline {
    @apply font-durusans font-medium text-xs lg:text-base text-[--secondary-color];
  }
}
