@layer components {
  .feed {
    @apply flex flex-row;
  }

  .feed-thumbnail {
    @apply mr-3 order-first;
  }

  .feed-picture {
    @apply cover-picture aspect-square;
    @apply [&>.feed-image]:cover-image;
  }

  .feed-content {
    @apply flex flex-col order-last;
  }

  .feed-title {
    @apply font-bold text-sm leading-4;
  }

  .feed-information {
    @apply mt-1 font-normal text-xs text-[--footer-text-color];
  }

  .feed-description {
    @apply mt-2;
  }
}
