@layer components {
  footer {
    @apply shrink;
    @apply text-[--background-color] bg-[--secondary-color];
  }

  .footer-columns {
    @apply columns-1 md:columns-2 lg:columns-4;
    @apply px-6 py-3;
  }

  .footer-section {
    @apply break-inside-avoid py-3;
  }
}
