@layer components {
  .heading {
    @apply font-bold mt-4;
  }

  .heading-1 {
    @apply heading text-4xl;
  }

  .heading-2 {
    @apply heading text-2xl;
  }

  .heading-3 {
    @apply heading text-xl;
  }

  .heading-4 {
    @apply heading text-lg;
  }

  .heading-5 {
    @apply heading text-base;
  }

  .heading-6 {
    @apply heading text-sm;
  }
}
