@layer components {
  .image {
    @apply mx-auto rounded;
  }

  .picture {
    @apply [&>.picture-image]:image;
  }

  .figure {
    @apply [&>.figure-image]:image;
    @apply [&>.figure-caption]:text-center;
  }

  .gallery {
    @apply grid grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-2 lg:gap-3 xl:gap-4;
    @apply [&>.gallery-picture]:cover-picture [&>.gallery-picture]:mx-auto;
    @apply [&>.gallery-picture]:w-36 [&>.gallery-picture]:sm:w-64 [&>.gallery-picture]:md:w-40;
    @apply [&>.gallery-picture]:lg:w-36 [&>.gallery-picture]:xl:w-40 [&>.gallery-picture]:2xl:w-48;
    @apply [&>.gallery-picture>.gallery-image]:cover-image;
  }
}
