@layer components {
  .legality {
    @apply block font-normal text-xs text-center text-[--footer-text-color];
    @apply m-0 px-6 py-2.5 border-t-2 border-t-[--footer-border-color];
  }

  .legality-link {
    @apply text-[--primary-color];
  }
}
