@layer components {
  .post-content a {
    @apply text-[--primary-color];
  }

  .link {
    @apply hover:underline;
  }

  .footnote-ref {
    @apply before:content-['['] after:content-[']'];
  }

  .footnote-backref {
    @apply !text-transparent before:text-[--primary-color] before:text-xs before:align-top;
    @apply icon before:content-['\e808'];
  }
}
