@layer components {
  .navbar-middle {
    @apply flex flex-col;
    @apply font-semibold text-base leading-10;
    @apply bg-[--secondary-color];
    @apply order-last;
  }

  .navbar-middle .navbar-group {
    @apply order-first md:hidden;
  }

  .navbar-middle .navbar-list {
    @apply order-last;
    @apply [&.toggled]:border-t [&.toggled]:border-t-[--primary-color];
  }

  .navbar-middle .navbar-item-link {
    @apply md:text-center md:uppercase;
  }

  .navbar-middle .navbar-group-link,
  .navbar-middle .navbar-item {
    @apply hover:bg-[--primary-color];
  }
}
