@layer components {
  .navbar-link {
    @apply min-w-10 min-h-10 text-[--background-color];
  }

  .navbar-icon {
    @apply before:min-w-9 content-none;
  }

  .navbar-group {
    @apply flex justify-between;
  }

  .navbar-group-link {
    @apply inline-block;
  }

  .navbar-list {
    @apply hidden [&.toggled]:block md:flex md:flex-row;
  }

  .navbar-item {
    @apply pr-2.5 pl-3.5 md:px-2.5 py-1 md:py-0;
  }

  .navbar-item-link {
    @apply block capitalize;
  }

  .navbar-home {
    @apply shrink order-first md:hidden;
  }

  .navbar-menu {
    @apply shrink order-last md:hidden;
  }
}
