@layer components {
  .navbar-bottom {
    @apply flex flex-col md:flex-row md:justify-center;
    @apply bg-[--primary-color];
  }

  .navbar-bottom .navbar-group {
    @apply order-last md:hidden;
    @apply font-semibold text-base leading-10;
  }

  .navbar-bottom .navbar-list {
    @apply order-first;
    @apply font-semibold md:font-normal text-base md:text-xs leading-10 md:leading-9;
    @apply [&.toggled]:border-b [&.toggled]:border-b-[--secondary-color];
  }

  .navbar-bottom .navbar-item-link {
    @apply md:text-center md:pt-0.5;
  }

  .navbar-bottom .navbar-group-link,
  .navbar-bottom .navbar-item {
    @apply hover:bg-[--secondary-color];
  }
}
