@layer components {
  .navbar-top {
    @apply flex flex-col md:flex-row md:justify-between;
    @apply bg-[--primary-color];
    @apply order-first;
  }

  .navbar-top .navbar-group {
    @apply order-first md:order-last;
    @apply font-semibold text-base leading-10;
  }

  .navbar-top .navbar-list {
    @apply order-last md:order-first;
    @apply font-semibold md:font-normal text-base md:text-xs leading-10 md:leading-9;
    @apply [&.toggled]:border-t [&.toggled]:border-t-[--secondary-color];
  }

  .navbar-top .navbar-item-link {
    @apply md:text-center md:pt-0.5;
  }

  .navbar-top .navbar-group-link,
  .navbar-top .navbar-item {
    @apply hover:bg-[--secondary-color];
  }
}
