@layer components {
  .pagenation {
    @apply flex justify-between mt-3;
  }

  .pagenation-button {
    @apply inline-block min-w-8 py-1;
    @apply font-bold text-xs text-center leading-4;
    @apply text-[--background-color] bg-[--secondary-color] hover:bg-[--primary-color];
  }

  .pagenation-previous {
    @apply pl-1 pr-2;
  }

  .pagenation-next {
    @apply pl-2 pr-1;
  }
}
