@layer components {
  .postlist-section .section-title {
    @apply font-bold text-2xl text-[--primary-color] leading-9;
  }

  .postlist-section .section-description {
    @apply font-normal text-sm leading-5;
  }

  .postlist-section .section-title,
  .postlist-section .section-description {
    @apply pb-0.5 mb-2.5 border-b border-b-[--border-color];
  }

  .postlist-feed .feed-picture {
    @apply w-36;
  }
}
