@layer components {
  .post {
    @apply flex flex-col;
    @apply *:mt-2 first:*:mt-0;
    @apply [&>.post-picture]:w-full;
  }

  .post-title {
    @apply font-bold text-3xl leading-10;
    @apply pb-2 border-b-2 border-b-[--post-border-color];
  }

  .post-subtitle {
    @apply inline-block px-2 py-1 mt-0;
    @apply font-bold text-xs text-[--background-color] bg-[--primary-color];
  }

  .post-information {
    @apply block px-2 py-1 border-y border-y-[--border-color];
    @apply font-normal text-xs text-[--footer-text-color] leading-5;
  }

  .post-thumbnail {
    @apply cover-picture aspect-[40/21];
    @apply [&>.post-image]:cover-image;
  }

  .post-tags {
    @apply flex flex-row items-start;
  }

  .post-tags .section-icon {
    @apply inline-block px-1 pb-px mt-px;
    @apply text-[--background-color] bg-[--primary-color];
  }
}
