@layer components {
  .post-content {
    @apply mt-4;
    @apply *:mt-2 first:*:mt-0;
  }

  .post-content p code {
    @apply p-1 rounded;
    @apply font-bold text-xs text-[--background-color] bg-[--primary-color];
  }

  .post-table-cell {
    @apply p-1 border border-[--border-color] align-top;
  }

  .post-content > table {
    @apply w-full border-collapse;
    @apply [&_thead+tbody]:border-t-2 [&_thead+tbody]:border-t-[--secondary-color];
    @apply hover:[&_tbody>tr]:bg-[--post-table-hover-color] odd:[&_tbody>tr]:bg-[--post-table-odd-color];
    @apply [&_th]:post-table-cell;
    @apply [&_td]:post-table-cell;
  }

  .post-content blockquote {
    @apply px-2 py-1 mx-0 my-3 border-l-4 border-l-[--primary-color];
    @apply leading-relaxed bg-[--post-blockquote-background-color];
  }

  .post-content ol,
  .post-content ul,
  .post-content dl,
  .post-content dd {
    @apply m-[revert] p-[revert] list-[revert];
  }

  .post-content dt {
    @apply font-bold;
  }

  .post-content dd {
    @apply [&+dt]:mt-4;
  }

  .post-content .highlight {
    @apply overflow-x-auto;
  }
}
