@layer components {
  .searchbox {
    @apply p-5 bg-[--searchbox-background-color];
  }

  .search-group {
    @apply relative flex flex-wrap items-stretch w-full;
    @apply first:*:rounded-l last:*:rounded-r;
  }

  .search-input {
    @apply grow h-10 p-1 border-2 border-[--secondary-color] focus:border-[--primary-color] outline-0 placeholder:capitalize;
  }

  .search-button {
    @apply min-w-9 bg-[--secondary-color] hover:bg-[--primary-color] text-[--background-color];
  }
}
