@layer components {
  .section {
    @apply flex flex-col;
  }

  .section-title {
    @apply font-bold text-sm leading-4 uppercase;
    @apply mb-2.5 pb-1 border-b-2 border-b-[--primary-color];
  }

  .section-offers .section-content {
    @apply flex flex-col;
  }

  .section-offers .section-link {
    @apply flex mx-auto mt-4 first:mt-0;
  }

  .section-list .section-item {
    @apply font-normal text-sm;
    @apply p-1 first:pt-0 border-b border-b-[--border-color] border-dotted;
  }

  .section-list .section-link {
    @apply hover:text-[--primary-color];
  }

  .section-tags .section-link {
    @apply inline-block min-w-8 px-2.5 py-1 mb-1 ml-1;
    @apply font-bold text-xs text-center leading-4 uppercase;
    @apply text-[--background-color] bg-[--secondary-color] hover:bg-[--primary-color];
  }
}
