@layer base {
    @font-face {
        font-family: 'Wayland';
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url('../font/wayland.otf') format('opentype');
    }

    @font-face {
        font-family: 'Durusans';
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url('../font/durusans.ttf') format('truetype');
    }
}