@layer base {
    @font-face {
        font-family: 'icon';
        src: url('../font/icon.eot');
        src: url('../font/icon.eot#iefix') format('embedded-opentype'),
            url('../font/icon.woff2') format('woff2'),
            url('../font/icon.woff') format('woff'),
            url('../font/icon.ttf') format('truetype'),
            url('../font/icon.svg#icon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    .icon:before,
    .icon:before {
        font-family: "icon";
        font-style: normal;
        font-weight: normal;
        speak: never;

        display: inline-block;
        text-decoration: inherit;
        width: 1em;
        margin-right: .2em;
        text-align: center;
        /* opacity: .8; */

        /* For safety - reset parent styles, that can break glyph codes*/
        font-variant: normal;
        text-transform: none;

        /* fix buttons height, for twitter bootstrap */
        line-height: 1em;

        /* Animation center compensation - margins should be symmetric */
        /* remove if not needed */
        margin-left: .2em;

        /* you can be more comfortable with increased icons size */
        /* font-size: 120%; */

        /* Font smoothing. That was taken from TWBS */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        /* Uncomment for 3D effect */
        /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
    }
}