:root {
  --background-url: url("../image/background.webp");
  --background-color: #fff;

  --primary-color: #e64946;
  --secondary-color: #2a2a2a;
  --border-color: #ebebeb;

  --searchbox-background-color: #f5f5f5;

  --footer-text-color: #999999;
  --footer-border-color: rgba(255, 255, 255, 0.3);

  --post-border-color: #000;
  --post-table-hover-color: rgba(0, 0, 0, 0.1);
  --post-table-odd-color: rgba(0, 0, 0, 0.05);
  --post-blockquote-background-color: rgba(0, 0, 0, 0.1);
}
