{% apply spaceless %}
{% set navbarTop = navbarTop|merge({ className: 'navbar-top' }) %}
{% set navbarMiddle = navbarMiddle|merge({ className: 'navbar-middle' }) %}
{% set navbarBottom = navbarBottom|merge({ className: 'navbar-bottom' }) %}

{% set asideOffers = asideOffers|merge({ className: 'aside-section' }) %}
{% set asideFeeds = asideFeeds|merge({ className: 'aside-section', feedClassName: 'aside-feed' }) %}
{% set asideList = asideList|merge({ className: 'aside-section' }) %}
{% set asideTags = asideTags|merge({ className: 'aside-section' }) %}

<!DOCTYPE html>
<html lang="en">

<head>
    {% include './head.twig' %}
    <title>{{ title }} - {{ theme.name }}</title>
</head>

<body>
    <div class="container">
        <header>
            {% include './navbar.twig' with navbarTop only %}
            {% include './brand.twig' %}
            {% include './navbar.twig' with navbarMiddle only %}
        </header>
        {% include './searchbox.twig' %}
        <main>
            <div class="content">
                {% block main %}{% endblock %}
            </div>
            <aside>
                {% include './section-offers.twig' with asideOffers only %}
                {% include './section-feeds.twig' with asideFeeds only %}
                {% include './section-list.twig' with asideList only %}
                {% include './section-tags.twig' with asideTags only %}
            </aside>
        </main>
        <footer>
            {% include './footer-columns.twig' %}
            {% include './navbar.twig' with navbarBottom only %}
            {% include './legality.twig' %}
        </footer>
    </div>
</body>

</html>
{% endapply %}