{% apply spaceless %}
<div class="brand">
    <div>
        <a href="#" rel="noopener">
            <h2 class="brand-title">{{ theme.name }}</h2>
            <p class="brand-tagline">{{ theme.tagline }}</p>
        </a>
    </div>
    {% include './leaderboard.twig' %}
</div>
{% endapply %}