{% apply spaceless %}
<article class="feed {{ className }}">
    <div class="feed-thumbnail">
        <picture class="feed-picture">
            <img
                class="feed-image group-hover:scale-125"
                src="{{ image }}"
                width="{{ width }}"
                height="{{ height }}"
                alt="{{ title }}"
                loading="lazy">
        </picture>
    </div>
    <div class="feed-content">
        <h3 class="feed-title">{{ title }}</h3>

        <small class="feed-information">
            <i class="icon-time"></i>
            <time datetime="{{ datetime }}">{{ time }}</time>
        </small>

        {% if description is defined %}
        <p class="feed-description group-hover:text-black">{{ description }}</p>
        {% endif %}
    </div>
</article>
{% endapply %}