{% apply spaceless %}
<div class="footer-columns">
    {% for footerColumn in footerColumns %}
    {% set footerColumn = footerColumn|merge({ className: 'footer-section' }) %}
    {% include './section-list.twig' with footerColumn only %}
    {% endfor %}
</div>
{% endapply %}