{% apply spaceless %}
<div>
    <a href="#" rel="noopener">
        <img class="desktop-only mx-auto" src="{{ leaderboard.desktop.image }}" width="{{ leaderboard.desktop.width }}"
            height="{{ leaderboard.desktop.height }}" alt="desktop leaderboard" loading="lazy">
        <img class="mobile-only mx-auto" src="{{ leaderboard.mobile.image }}" width="{{ leaderboard.mobile.width }}"
            height="{{ leaderboard.mobile.height }}" alt="mobile leaderboard" loading="lazy">
    </a>
</div>
{% endapply %}