{% apply spaceless %}
<small class="legality">
    <span class="capitalize">copyright</span> &copy; {{ 'now' | date('Y') }}
    &bull; HTML Theme by <a class="legality-link" href="{{ theme.link }}" target="_blank" rel="noopener">{{ theme.name }}</a>
</small>
{% endapply %}