{% apply spaceless %}
<nav class="navbar {{ className }}" aria-label="{{ ariaLabel }}">
    <div class="navbar-group">
        <div class="navbar-home">
            <a class="navbar-link navbar-group-link" href="#" rel="noopener" title="Home Icon" aria-label="Home Icon">
                <i class="navbar-icon icon-home"></i>
            </a>
        </div>

        {% if shortcuts is defined %}
        <div>
            {% for shortcut in shortcuts %}
            <a class="navbar-link navbar-group-link" href="#" rel="noopener" title="{{ shortcut.text }}" aria-label="{{ shortcut.text }}">
                <i class="navbar-icon {{ shortcut.icon }}"></i>
            </a>
            {% endfor %}
        </div>
        {% endif %}

        <div class="navbar-menu">
            <a class="navbar-link navbar-group-link" href="#" rel="noopener" title="Menu Icon" aria-label="Menu Icon"
                data-toggle="#{{ className }}-toggle">
                <i class="navbar-icon icon-menu"></i>
            </a>
        </div>
    </div>
    <ul id="{{ className }}-toggle" class="navbar-list">
        {% for item in items %}
        <li class="navbar-item">
            <a class="navbar-link navbar-item-link" rel="noopener" href="{{ item.link }}">{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
{% endapply %}