{% apply spaceless %}
<div class="pagenation">
    <div>
        <a class="pagenation-button pagenation-previous uppercase" href="#" rel="prev">
            <i class="icon-left"></i>
            {{ previous }}
        </a>
    </div>
    <div>
        <a class="pagenation-button pagenation-next uppercase" href="#" rel="next">
            {{ next }}
            <i class="icon-right"></i>
        </a>
    </div>
</div>
{% endapply %}