{% apply spaceless %}
<article class="post">
    <h1 class="post-title">{{ title }}</h1>
    <h2 class="post-subtitle">{{ subtitle }}</h2>

    <small class="post-information">
        <i class="icon-time"></i>
        <time datetime="{{ datetime }}">{{ time }}</time>
    </small>

    <picture class="post-thumbnail group">
        <img class="post-image group-hover:scale-125" src="{{ image }}" width="{{ width }}" height="{{ height }}"
            alt="{{ title }}" loading="lazy">
    </picture>

    <div class="post-content">
        {% include './post-content.twig' %}
    </div>

    {% for taxonomy in taxonomies %}
    <div class="section section-tags post-tags">
        <div class="section-icon"><i class="{{ taxonomy.icon }}"></i></div>
        <div class="section-content">
            {% for item in taxonomy.items %}
            <a class="section-link group" href="{{ item.link }}" rel="noopener">{{ item.text }}</a>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</article>
{% endapply %}