{% apply spaceless %}
{% set currentUrl = 'http://localhost:9000/html/single-page.html' %}

<p>This Markdown cheat sheet provides a quick overview of all the Markdown syntax elements. It
    can&rsquo;t cover every edge case, so if you need more information about any of these
    elements, refer to the reference guides for
    <a class="link" href="https://www.markdownguide.org/basic-syntax/" target="_blank" rel="external">basic syntax</a> and
    <a class="link" href="https://www.markdownguide.org/extended-syntax/" target="_blank" rel="external">extended syntax</a>.
</p>

<h2 id="headings" class="heading-2">Headings
    <a href="#headings" rel="noopener" aria-label="Headings" data-clipboard="{{ currentUrl }}#headings">
        <i class="icon-link"></i>
    </a>
</h2>
<h2 id="heading-level-2" class="heading-2">Heading level 2
    <a href="#heading-level-2" rel="noopener" aria-label="Heading level 2" data-clipboard="{{ currentUrl }}#heading-level-2">
        <i class="icon-link"></i>
    </a>
</h2>
<h3 id="heading-level-3" class="heading-3">Heading level 3
    <a href="#heading-level-3" rel="noopener" aria-label="Heading level 3" data-clipboard="{{ currentUrl }}#heading-level-3">
        <i class="icon-link"></i>
    </a>
</h3>
<h4 id="heading-level-4" class="heading-4">Heading level 4
    <a href="#heading-level-4" rel="noopener" aria-label="Heading level 4" data-clipboard="{{ currentUrl }}#heading-level-4">
        <i class="icon-link"></i>
    </a>
</h4>
<h5 id="heading-level-5" class="heading-5">Heading level 5
    <a href="#heading-level-5" rel="noopener" aria-label="Heading level 5" data-clipboard="{{ currentUrl }}#heading-level-5">
        <i class="icon-link"></i>
    </a>
</h5>
<h6 id="heading-level-6" class="heading-6">Heading level 6
    <a href="#heading-level-6" rel="noopener" aria-label="Heading level 6" data-clipboard="{{ currentUrl }}#heading-level-6">
        <i class="icon-link"></i>
    </a>
</h6>

<h2 id="paragraphs" class="heading-2">Paragraphs
    <a href="#paragraphs" rel="noopener" aria-label="Paragraphs" data-clipboard="{{ currentUrl }}#paragraphs">
        <i class="icon-link"></i>
    </a>
</h2>
<p>This is the first line.
    And this is the second line.</p>
<p>Don&rsquo;t put tabs or spaces in front of your paragraphs.</p>
<p>Keep lines left-aligned like this.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nec nisl orci. Praesent
    hendrerit ac ex non faucibus. Curabitur rutrum lobortis enim quis rutrum. Integer ac nulla
    aliquam, vulputate erat aliquam, ultrices nunc. Aenean ac maximus velit, eget semper eros.
    Sed facilisis ligula vel laoreet venenatis. Nullam maximus libero semper volutpat finibus.
    Nam viverra magna quis ornare dictum. Nam ac luctus nisl. Pellentesque sed lobortis quam.
    Integer in laoreet erat. Suspendisse consequat, risus id interdum ullamcorper, justo purus
    tincidunt mauris, eget commodo odio tortor eget nibh.</p>
<p>Quisque nec rhoncus sem. Quisque quis risus vel dui porta varius non non erat. Morbi euismod
    venenatis dictum. Integer sem felis, aliquet ac risus vitae, accumsan faucibus lacus. Sed
    vitae viverra eros. Pellentesque eget est porta, viverra felis sed, pellentesque tortor.
    Vivamus hendrerit ante a tempus sollicitudin. Quisque feugiat dolor mi, ut porttitor nisi
    consequat ut. Ut iaculis ipsum nec sagittis venenatis. Donec posuere quis justo at
    consequat.</p>

<h2 id="sentences" class="heading-2">Sentences
    <a href="#sentences" rel="noopener" aria-label="Sentences" data-clipboard="{{ currentUrl }}#sentences">
        <i class="icon-link"></i>
    </a>
</h2>
<p>Sentence with <em>italic text</em>.</p>
<p>Sentence with <strong>bold text</strong>.</p>
<p>Sentence with <em><strong>italic bold text</strong></em>.</p>
<p>Sentence with <del>strikethrough text</del>.</p>
<p>Sentence with <code>code text</code>.</p>
<p>Sentence with <a class="link" href="#" rel="noopener">Link text</a>.</p>

<h2 id="table" class="heading-2">Table
    <a href="#table" rel="noopener" aria-label="Table" data-clipboard="{{ currentUrl }}#table">
        <i class="icon-link"></i>
    </a>
</h2>
<table>
    <thead>
        <tr>
            <th>Title 1</th>
            <th style="text-align:left">Title 2</th>
            <th style="text-align:center">Title 3</th>
            <th style="text-align:right">Title 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Data 1 1</td>
            <td style="text-align:left">Data 2 1</td>
            <td style="text-align:center">Data 3 1</td>
            <td style="text-align:right">Data 4 1</td>
        </tr>
        <tr>
            <td>Data 1 2</td>
            <td style="text-align:left">Data 2 2</td>
            <td style="text-align:center">Data 3 2</td>
            <td style="text-align:right">Data 4 2</td>
        </tr>
    </tbody>
</table>

<h2 id="blockquote" class="heading-2">Blockquote
    <a href="#blockquote" rel="noopener" aria-label="Blockquote" data-clipboard="{{ currentUrl }}#blockquote">
        <i class="icon-link"></i>
    </a>
</h2>

<h3 id="simple-blockquote" class="heading-3">Simple Blockquote
    <a href="#simple-blockquote" rel="noopener" aria-label="Simple Blockquote" data-clipboard="{{ currentUrl }}#simple-blockquote">
        <i class="icon-link"></i>
    </a>
</h3>
<blockquote>
    <p>Dorothy followed her through many of the beautiful rooms in her castle.</p>
</blockquote>

<h3 id="nested-blockquote" class="heading-3">Nested Blockquote
    <a href="#nested-blockquote" rel="noopener" aria-label="Nested Blockquote" data-clipboard="{{ currentUrl }}#nested-blockquote">
        <i class="icon-link"></i>
    </a>
</h3>
<blockquote>
    <p>Dorothy followed her through many of the beautiful rooms in her castle.</p>
    <blockquote>
        <p>The Witch bade her clean the pots and kettles and sweep the floor and keep the fire
            fed with wood.</p>
    </blockquote>
</blockquote>

<h2 id="horizontal-rule" class="heading-2">Horizontal Rule
    <a href="#horizontal-rule" rel="noopener" aria-label="Horizontal Rule" data-clipboard="{{ currentUrl }}#horizontal-rule">
        <i class="icon-link"></i>
    </a>
</h2>
<p>Try to put a blank line before&mldr;</p>
<hr>
<p>&mldr;and after a horizontal rule.</p>

<h2 id="list" class="heading-2">List
    <a href="#list" rel="noopener" aria-label="List" data-clipboard="{{ currentUrl }}#list">
        <i class="icon-link"></i>
    </a>
</h2>
<ol>
    <li>First item ordered list</li>
    <li>Second item ordered list<ol>
            <li>Indented first ordered item</li>
            <li>Indented second ordered item</li>
        </ol>
    </li>
    <li>Third item ordered list<ul>
            <li>Indented first unordered item</li>
            <li>Indented second unordered item</li>
        </ul>
    </li>
    <li>Fourth item ordered list</li>
</ol>
<ul>
    <li>
        <p>First item unordered list</p>
    </li>
    <li>
        <p>Second item unordered list</p>
        <ol>
            <li>Indented first ordered item</li>
            <li>Indented second ordered item</li>
        </ol>
    </li>
    <li>
        <p>Third item unordered list</p>
        <ul>
            <li>Indented first unordered item</li>
            <li>Indented second unordered item</li>
        </ul>
    </li>
    <li>
        <p>Fourth item unordered list</p>
    </li>
    <li>
        <p>
            <input checked disabled type="checkbox"> First item checklist
        </p>
    </li>
    <li>
        <p>
            <input checked disabled type="checkbox"> Second item checklist
        </p>
    </li>
    <li>
        <p>
            <input disabled type="checkbox"> Third item checklist
        </p>
    </li>
</ul>
<dl>
    <dt>First Term</dt>
    <dd>First definition of the first term.</dd>
    <dt>Second Term</dt>
    <dd>First definition of the second term.</dd>
    <dd>Second definition of the second term.</dd>
</dl>

<h2 id="footnote" class="heading-2">Footnote
    <a href="#footnote" rel="noopener" aria-label="Footnote" data-clipboard="{{ currentUrl }}#footnote">
        <i class="icon-link"></i>
    </a>
</h2>
<p>First sentence with a footnote. <sup id="fnref:1">
        <a class="footnote-ref" href="#fn:1" rel="noopener" role="doc-noteref">1</a>
    </sup>
</p>
<p>Second sentence with a footnote. <sup id="fnref:2">
        <a class="footnote-ref" href="#fn:2" rel="noopener" role="doc-noteref">2</a>
    </sup>
</p>
<p>Third sentence with a footnote. <sup id="fnref:3">
        <a class="footnote-ref" href="#fn:3" rel="noopener" role="doc-noteref">3</a>
    </sup>
</p>

<h2 id="images" class="heading-2">Images
    <a href="#images" rel="noopener" aria-label="Images" data-clipboard="{{ currentUrl }}#images">
        <i class="icon-link"></i>
    </a>
</h2>
<p>
    <img
        class="image"
        src="https://placeholder.co/600x315.webp"
        width="600"
        height="315"
        title="Image Title"
        alt="Image Description"
        loading="lazy">
</p>
<p>
    <picture class="picture">
        <source media="(min-width: 1280px)" srcset="https://placeholder.co/1200x600.webp">
        <source media="(min-width: 800px)" srcset="https://placeholder.co/600x315.webp">
        <img
            class="picture-image"
            src="https://placeholder.co/300x200.webp"
            title="Picture Title"
            alt="Picture Description"
            loading="lazy">
    </picture>
</p>
<figure class="figure">
    <img
        class="figure-image"
        src="https://placeholder.co/300x200.webp"
        width="300"
        height="200"
        title="Figure Title"
        alt="Figure Description"
        loading="lazy">
    <figcaption class="figure-caption">Figure Caption</figcaption>
</figure>
<div class="gallery">
    {% for i in 1..15 %}
        <picture class="gallery-picture group">
            <img
                class="gallery-image group-hover:scale-125"
                src="https://placeholder.co/150x150.webp"
                title="Gallery Title - {{i}}"
                alt="Gallery Description - {{i}}"
                loading="lazy">
        </picture>
    {% endfor %}
</div>

<h2 id="code-block" class="heading-2">
    Code Block
    <a href="#code-block" rel="noopener" aria-label="Code Block" data-clipboard="{{ currentUrl }}#code-block">
        <i class="icon-link"></i>
    </a>
</h2>
<div class="highlight">
    <div style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
        <table style="border-spacing:0;padding:0;margin:0;border:0;">
            <tbody>
                <tr>
                    <td style="vertical-align:top;padding:0;margin:0;border:0;">
                        <pre tabindex="0"
                            style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
                            <code>
                                <span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f" id="hl-0-1">
                                    <a style="outline:none;text-decoration:none;color:inherit" href="#hl-0-1" rel="noopener">1</a>
                                </span>
                            </code>
                        </pre>
                    </td>
                    <td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
                        <pre tabindex="0"
                            style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
                            <code class="language-txt" data-lang="txt">
                                <span style="display:flex;">
                                    <span>This is a short code block.</span>
                                </span>
                            </code>
                        </pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="highlight">
    <div style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
        <table style="border-spacing:0;padding:0;margin:0;border:0;">
            <tbody>
                <tr>
                    <td style="vertical-align:top;padding:0;margin:0;border:0;">
                        <pre tabindex="0"
                            style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
                            <code>
                                <span style="white-space:pre;-webkit-user-select:none;user-select:none;margin-right:0.4em;padding:0 0.4em 0 0.4em;color:#7f7f7f" id="hl-5-1">
                                    <a style="outline:none;text-decoration:none;color:inherit" href="#hl-5-1" rel="noopener">1</a>
                                </span>
                            </code>
                        </pre>
                    </td>
                    <td style="vertical-align:top;padding:0;margin:0;border:0;;width:100%">
                        <pre tabindex="0"
                            style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4;">
                            <code class="language-sh" data-lang="sh">
                                <span style="display:flex;">
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dapibus egestas ullamcorper. Etiam dapibus mauris nec velit imperdiet, nec faucibus augue euismod. Proin et ornare arcu. Nunc maximus rutrum fringilla.</span>
                                </span>
                            </code>
                        </pre>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="footnotes" role="doc-endnotes">
    <hr>
    <ol>
        <li id="fn:1">
            <p>First footnote.&#160;<a class="footnote-backref" href="#fnref:1" rel="noopener" role="doc-backlink">&#8617;&#xfe0e;</a>
            </p>
        </li>
        <li id="fn:2">
            <p>Second footnote.&#160;<a class="footnote-backref" href="#fnref:2" rel="noopener" role="doc-backlink">&#8617;&#xfe0e;</a>
            </p>
        </li>
        <li id="fn:3">
            <p>Third footnote.&#160;<a class="footnote-backref" href="#fnref:3" rel="noopener" role="doc-backlink">&#8617;&#xfe0e;</a>
            </p>
        </li>
    </ol>
</div>
{% endapply %}