{% apply spaceless %}
<div class="searchbox">
    <form role="search" data-search="google">
        <div class="search-group">
            <input class="search-input" name="search" type="search" placeholder="search" required>
            <button class="search-button" type="submit" title="search" aria-label="search">
                <i class="icon-search"></i>
            </button>
        </div>
    </form>
</div>
{% endapply %}