{% apply spaceless %}
<section class="section section-tags {{ className }}">
    <h2 class="section-title">{{ title }}</h2>
    <div class="section-content">
        {% for item in items %}
        <a class="section-link group" href="{{ item.link }}" rel="noopener">{{ item.text }}</a>
        {% endfor %}
    </div>
</section>
{% endapply %}