{% apply spaceless %}
<div class="section section-offers {{ className }}">
    <div class="section-content">
        {% for item in items %}
        <a class="section-link group" href="#" rel="noopener">
            <img src="{{ item.image }}" width="{{ item.width }}" height="{{ item.height }}" alt="{{ item.title }}"
                loading="lazy">
        </a>
        {% endfor %}
    </div>
</div>
{% endapply %}