{% apply spaceless %}
<section class="section section-list {{ className }}">
    <h2 class="section-title">{{ title }}</h2>
    <ul class="section-content">
        {% for item in items %}
        <li class="section-item">
            <a class="section-link group" href="{{ item.link }}" rel="noopener">{{ item.text }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endapply %}