{% apply spaceless %}
{% if isMainSection is not defined %}
{% set isMainSection = false %}
{% endif %}

<section class="section section-list {{ className }}">
    {% if title is defined %}
    {% if isMainSection %}
    <h1 class="section-title">{{ title }}</h1>
    {% else %}
    <h2 class="section-title">{{ title }}</h2>
    {% endif %}
    {% endif %}

    {% if description is defined %}
    <p class="section-description">{{ description }}</p>
    {% endif %}

    <ul class="section-content">
        {% for item in items %}
        {% set item = item|merge({ className: feedClassName }) %}
        <li class="section-item">
            <a class="section-link group" href="{{ item.link }}" rel="noopener">
                {% include './feed.twig' with item only %}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endapply %}